.paginationContainer {
    display: flex;
    justify-content: center;
    grid-gap: 15px;
    align-items: center;
    margin: 10px 0;
}

.paginationBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-weight: 600;
    background: teal;
    cursor: pointer;
}

.paginationBtn:hover {
    background: rgb(0, 82, 82);
}

.paginationBtn:active {
    background: rgb(0, 62, 62);
}

.paginationBtn[disabled] {
    background: #9f9d9d;
    color: #000;
    cursor: default;
}