.dataviewItem {
  border: 1px solid teal;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.dataviewItem p {
  font-size: 20px;
}

.detailsBtn {
  height: 40px;
  width: 70px;
  cursor: pointer;
  color: #fff;
  background: teal;
  border-radius: 4px;
  border: none;
}

.detailsBtn:hover {
  background: rgb(0, 82, 82);
}

.detailsBtn:active {
  background: rgb(0, 62, 62);
}
