/* chunk [output]/.next/server/pages/chunks/src_Components_Search_Search.module_b5a149.css */
/* [project]/src/Components/Search/Search.module.css (css, css module) */
.search__input__Search__74cb5d43 {
  padding: 5px 15px;
  width: 77%;
  height: 30px;
}
.search__btn__Search__74cb5d43 {
  height: 30px;
  width: 20%;
  cursor: pointer;
}
.search__Search__74cb5d43 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

