/* chunk [output]/.next/server/pages/fallback_not_found/chunks/src_Components_ItemDetails_ItemDetails.module_b5a149.css */
/* [project]/src/Components/ItemDetails/ItemDetails.module.css (css, css module) */
.dataviewItem__ItemDetails__55fd24ba {
  border: 1px solid teal;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.dataviewItem__ItemDetails__55fd24ba p {
  font-size: 20px;
}
.detailsBtn__ItemDetails__55fd24ba {
  height: 40px;
  width: 60px;
  cursor: pointer;
  color: #fff;
  background: #f40101;
  border-radius: 4px;
  border: none;
}
.detailsBtn__ItemDetails__55fd24ba:hover {
  background: #b50000;
}
.detailsBtn__ItemDetails__55fd24ba:active {
  background: #8a0202;
}

