/* [project]/src/Components/DataviewList/DataviewList.module.css (css, css module) */
.itemsPerPageSelect__DataviewList__250bdc95 {
  margin: 10px 0;
  width: 60px;
  height: 30px;
}
.flexContainer__DataviewList__250bdc95 {
  display: flex;
  justify-content: space-between;
}
.detailsPage__DataviewList__250bdc95 {
  width: 300px;
}